html {
	
	scroll-behavior: smooth;
}

body {
	font-family: arial, sans-serif;
	background-color: #000000;
	font-size: 18px;
	
}

header,
footer {
	text-align: center;
	color: white;
}

section {
	background-color: SteelBlue;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* TYPOGRAPHY */

h1,
h2,
p {
	padding-bottom: 1em;
}

h1 {
	font-size:50px;
}

h2 {
	font-size:30px;
}

/* ARTICLES */

article {
	max-width:1000px;
	margin:20px auto;
	border:2px solid black;
	padding:20px;
	background-color:#f1f1f1;
}

article.intro {
	background-color: black;
	color:#f1f1f1;
	font-size:24px;
	border-color:#f1f1f1; /* see how we're overriddng an existing border-color from article */
}
/* the above could also just be
.intro {
	property:value;
	property:value;
}
*/



/* IMAGES */

img {
	max-width: 100%;
	margin-bottom:20px;
}

/* LINKS */

a {
	color:SteelBlue;
}

/* just the links inside .intro */
.intro a {
	/* color:#b97d4b; */
}

/* these are the 'a' tags with a class of button */
.button {
	color:black;
	font-size:20px;
	background-color:SteelBlue;
	padding:10px;
	border:1px solid black;
	text-decoration: none;
}

.button:hover {
	background-color: #f1f1f1;
}
