html {
	scroll-behavior: smooth;
}

body {
	font-family: arial, sans-serif;
	background-color: #000000;
	font-size: 18px;
	
}

/* IMAGES */

img {
	max-width: 100%;
	margin-bottom: 20px;
}

/* LINKS */

a {
	color: darkblue;	 
}

a:hover {
	text-decoration: none;
}


/* framework */

header,
footer {
	text-align: center;
	color: white;
}

main {
	background-color: PeachPuff;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav li {
	list-style: none;
	margin-bottom: 20px;
}

footer a,
nav a {
	color: peachpuff;
}


/* TYPOGRAPHY */

h1 {
	
	font-size: 50px;
}

h2 {
	font-size: 30px;
}






/* these are the 'a' tags with a class of button */
.button {
	color: black;
	font-size: 20px;
	background-color: PeachPuff;
	padding: 10px;
	border: 1px solid black;
	text-decoration: none;
}

.button:hover {
	background-color: #f1f1f1;
}


/* CONTENT */

section {
	max-width: 1000px;
	margin: 20px auto;
	border: 2px solid black;
	padding: 20px;
	background-color: #f1f1f1;
}

.intro {
	background-color: black;
	color: #f1f1f1;
	font-size: 24px;
	border-color: #f1f1f1; /* see how we're overriddng an existing border-color from article */
}

/* just the links inside .intro */
.intro a {
	color: peachpuff;
}
